{{#tags}}
## [{{name}}]({{tagChangesUrl .}}){{#ifEquals tagTime ""}}{{else}} ({{tagDate}}){{/ifEquals}}
  {{#ifContainsBreaking commits}}

### Breaking changes

    {{#commits}}
      {{#ifCommitBreaking .}}
-{{#eachCommitScope .}} **{{.}}**{{/eachCommitScope}} {{commitDescriptionWithPullRequestUrl .}}
      {{/ifCommitBreaking}}
    {{/commits}}
  {{/ifContainsBreaking}}
  {{#ifContainsType commits type='feat'}}

### Features

    {{#commits}}
      {{#ifCommitType . type='feat'}}
          {{#ifCommitBreaking .}}
          {{else}}
-{{#eachCommitScope .}} **{{.}}**{{/eachCommitScope}} {{commitDescriptionWithPullRequestUrl .}}
          {{/ifCommitBreaking}}
      {{/ifCommitType}}
    {{/commits}}
  {{/ifContainsType}}
  {{#ifContainsType commits type='fix'}}

### Bug Fixes

    {{#commits}}
      {{#ifCommitType . type='fix'}}
          {{#ifCommitBreaking .}}
          {{else}}
-{{#eachCommitScope .}} **{{.}}**{{/eachCommitScope}} {{commitDescriptionWithPullRequestUrl .}}
          {{/ifCommitBreaking}}
      {{/ifCommitType}}
    {{/commits}}
  {{/ifContainsType}}

{{/tags}}
