/* --- root styles --- */
:root {
    --color-key-orange: #ff7900;

    --active-tab-border-color: #ff7900;
    --active-section-color: #ff7900;
    --sidemenu-section-active-color: #ff7900;

    --footer-go-to-top-color: white;

    --default-font-family: HelvNeueOrange, "Helvetica Neue", Helvetica, "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Remove "ANDROIDJVM" button in header */
.filter-section {
    display: none;
}

.toc--link:hover {
    color: var(--color-key-orange);
}

.toc--part[data-active]>.toc--row .toc--button:after, .toc--part[data-active]>.toc--row .toc--link:after {
    filter: invert(1);
}

.toc--part[data-active]>.toc--row .toc--button, .toc--part[data-active]>.toc--row .toc--link {
    background-color: var(--color-background);
    color: var(--toc-color);
    font-weight: 700;
}

.toc--part[data-active]>.toc--row .toc--button:hover,.toc--part[data-active]>.toc--row .toc--link:hover {
    background-color: var(--color-background);
    color: var(--color-key-orange);
}

.library-name--link {
    font-size: 28px;
    font-weight: 700;
}