/* --- root styles --- */
:root {
    --color-key-blue: #ff7900;

    --active-tab-border-color: #ff7900;
    --active-section-color: #ff7900;
    --sidemenu-section-active-color: #ff7900;

    --footer-font-color: black;
    --footer-go-to-top-color: white;

    --default-font-family: Helvetica Neue, Roboto, Arial, sans-serif;
}


/* Remove "ANDROIDJVM" button in header */
.filter-section {
    display: none;
}

.toc--part[data-active]>.toc--row .toc--button, .toc--part[data-active]>.toc--row .toc--link {
    font-weight: 700;
}

.library-name--link {
    font-size: 28px;
    font-weight: 700;
}