# Module core

Contains the main elements of the OUDS Android library.

#### Component versions

<table>
{{#versions}}
<tr><td>{{name}}</td><td>{{value}}</td></tr>
{{/versions}}
</table>

# Package com.orange.ouds.core.component

Contains all OUDS basic components: OudsButton, OudsLink,...

# Package com.orange.ouds.core.theme

Contains the `OudsTheme` composable that can be used in your app to apply a chosen theme. The other files are used to build the theme and don't have to be used
directly but only through the `OudsTheme`.