:root {
  --color-key-orange: #f15e00;

  --active-tab-border-color: #f15e00;
  --active-section-color: #f15e00;
  --sidemenu-section-active-color: #f15e00;

  --footer-go-to-top-color: #fff;
  --footer-background: var(--color-background);
  --color-background-nav: #000;
  --color-background-nav-dt: #000;
  --elements-border-color: rgba(0, 0, 0, 0.2);
  --color-action-hover: rgba(0, 0, 0, 0.68);
  --bs-color-surface-status-warning-muted: rgba(255, 208, 0, 0.16);

  --default-font-family: "Helvetica Neue", helvetica, "Noto Sans",
    "Liberation Sans", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --dokka-logo-height: 32px;
  --dokka-logo-width: 32px;
  --logo-link-gap: 10px;
  --navigation-padding-top: 10px;
  --navigation-padding-bottom: 0;
  --grid-margin: 16px;
  --sidebar-width: 310px;

  --hero-image-height: 120px;

  --font-size-body-small: 0.75rem;
  --font-size-body-medium: 0.875rem;
  --font-size-body-large: 1rem;
  --font-size-heading-small: 1.125rem;
  --font-size-heading-medium: 1.25rem;
  --font-size-heading-large: 1.5rem;
  --font-size-display-small: 2rem;

  --font-line-height-heading-large: 0px;
  --font-line-height-display-small: 40px;
  --font-line-height-body-medium: 14px;

  --font-letter-spacing-display-small: -0.32px;
  --font-letter-spacing-heading-large: 0.12px;
  --font-letter-spacing-heading-small: 0.18px;
  --font-letter-spacing-body-large: 0.2px;

  --default-font-size: var(--font-size-body-large);
  --horizontal-spacing-for-content: var(--grid-margin);

  @media (min-width: 736px) {
    --dokka-logo-height: 48px;
    --dokka-logo-width: 48px;
    --logo-link-gap: 24px;
    --navigation-padding-top: 44px;
    --navigation-padding-bottom: 16px;
    --grid-margin: 32px;

    --hero-image-height: 170px;

    --font-size-body-large: 1.125rem;
    --font-size-heading-small: 1.5rem;
    --font-size-heading-medium: 1.5rem;
    --font-size-heading-large: 2.25rem;
    --font-size-display-small: 2.5rem;

    --font-line-height-heading-large: 36px;

    --font-letter-spacing-display-small: -0.4px;
    --font-letter-spacing-heading-large: 0.28px;
    --font-letter-spacing-heading-small: 0px;
    --font-letter-spacing-body-large: 0.18px;
  }

  @media (min-width: 1024px) {
    --grid-margin: 56px;

    --hero-image-height: 200px;

    --font-size-body-large: 1.125rem;
    --font-size-heading-small: 1.5rem;
    --font-size-heading-medium: 1.75rem;
    --font-size-heading-large: 2.5rem;
    --font-size-display-small: 3rem;

    --font-line-height-heading-large: 40px;
    --font-line-height-display-small: 56px;

    --font-letter-spacing-display-small: -0.6px;
    --font-letter-spacing-heading-large: 0.32px;
    --font-letter-spacing-heading-small: -0.12px;
  }
}

@media print, (min-width: 960px) {
    .keyValue {
        grid-template-columns: 25% 75%;
    }
}

.theme-dark {
  --color-background: #141414;
  --color-key-orange: #ff7900;
  --elements-border-color: rgba(255, 255, 255, 0.2);
  --color-action-hover: rgba(255, 255, 255, 0.64);
  --toc-hover-color: #4a4a52;

  --active-tab-border-color: #ff7900;
  --active-section-color: #ff7900;
  --sidemenu-section-active-color: #ff7900;
}

.theme-dark .button:hover,
.theme-dark .button:active,
.button_dropdown_active {
  background-color: #4a4a52;
}

.navigation {
  position: relative;
  padding: var(--navigation-padding-top) var(--grid-margin)
    var(--navigation-padding-bottom);
  border-bottom: 1px solid #666;
}

.library-name--link {
  position: relative;
  height: auto;
  padding-left: calc(var(--dokka-logo-width) + var(--logo-link-gap));
  margin: 0 8px 0 0;
  font-family: var(--default-font-family);
  font-size: var(--font-size-heading-large);
  font-weight: 700;
  line-height: var(--font-line-height-heading-large);
  letter-spacing: var(--font-letter-spacing-heading-large);
  vertical-align: baseline;
}

/* remove run button on examples codes */
.run-button {
  display: none;
}

.library-name--link::before {
  position: absolute;
  left: 0;
  max-height: initial;
  background-size: var(--dokka-logo-height) var(--dokka-logo-width);

  @media (min-width: 736px) {
    top: -17px;
  }
  @media (min-width: 1024px) {
    top: -13px;
  }
}

.navigation-controls--btn {
  width: var(--dokka-logo-height);
  height: var(--dokka-logo-height);
}

.navigation-controls--btn_theme {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' fill='white'><path d='M675 649.88c-179.493 0-325-145.57-325-325.141A324.478 324.478 0 0 1 465.721 76C247.03 93.463 75 276.537 75 499.815 75 734.638 265.279 925 500 925c223.181 0 406.175-172.106 423.63-390.891A324.222 324.222 0 0 1 675 649.88Z'/></svg>");
}

.sidebar--inner {
    font-size: var(--font-size-body-medium);
    line-height: var(--font-line-height-body-medium);
}

.dropdown--header {
  font-size: var(--font-size-heading-medium);
  font-weight: 700;
}

@media (max-width: 439px) {
  .dropdown--list {
    width: 320px;
  }
}

/* TOC sidebar */
.toc--part {
  font: inherit;
  font-weight: 700;
}

.toc--row {
  min-height: 34px;
}

.toc--button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' fill='white'><path d='m225 402.78 196.43 194.44L500 675l78.57-77.78L775 402.78 696.43 325 500 519.44 303.57 325 225 402.78Z'/></svg>");
  background-size: 18px 18px;
  height: 18px;
  width: 16px;
}

.toc--link {
  min-height: 34px;
}

.toc--link:hover {
  color: var(--color-key-orange);
}

.toc--part[data-active] > .toc--row .toc--button::after,
.toc--part[data-active] > .toc--row .toc--link::after {
  filter: invert(1);
}

.toc--part[data-active] > .toc--row .toc--button,
.toc--part[data-active] > .toc--row .toc--link {
  font-weight: 700;
  color: var(--toc-color);
  background-color: var(--toc-hover-color);
}

.toc--part[data-active] > .toc--row .toc--button:hover,
.toc--part[data-active] > .toc--row .toc--link:hover {
  color: var(--color-key-orange);
  background-color: var(--toc-hover-color);
}

/* fixes strange line-height on some paragraph texts */
.UnderCoverText {
  line-height: inherit;
}

/* Homepage hero */
#main:has(.main-content[pageIds~="OUDS"])::before {
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: var(--hero-image-height);
  content: " ";
  background: no-repeat url("../images/banner.png");
  background-size: cover;

  @media (max-width: 480px) {
    background-position: -170px;
  }
}

/* Homepage introduction */
.main-content[pageIds~="OUDS"] > .cover > .cover > .paragraph:first-of-type {
  font-size: var(--font-size-heading-small);
  font-weight: 700;
  letter-spacing: var(--font-letter-spacing-heading-small);
  margin-bottom: 1rem;
}

/* section headings, using :is() to select like Dokka */
.main-content :is(h1, h2) {
  font-weight: 700;
  color: var(--color-key-orange);
}
.main-content :is(h1) {
  font-size: var(--font-size-display-small);
  line-height: var(--font-line-height-display-small);
  letter-spacing: var(--font-letter-spacing-display-small);
}
h2, h3 {
  font-size: var(--font-size-heading-large);
  line-height: var(--font-line-height-heading-large);
  letter-spacing: var(--font-letter-spacing-heading-large);
}

/* deprecation content */
.deprecation-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    border: none;
    padding: 1rem;
    background-color: var(--bs-color-surface-status-warning-muted);
}

.deprecation-content > h3 {
    font-size: var(--font-size-heading-small);
}

/* links in content */
.main-content a:not([data-name]) {
  margin: initial;
  font-weight: 700;
  text-decoration: underline;
  border: none;
  transition: none;
}
.main-content a:not([data-name]):hover {
  color: var(--color-action-hover);
}

.paragraph,
.table {
  letter-spacing: var(--font-letter-spacing-body-large);
}

/* inline code styling */
code:not(.block) {
  padding: 0 0.4em 0.175em;
  margin: 0;
  font-size: 80%;
  white-space: break-spaces;
  border-radius: 2px;
}

code.block {
  border: 1px solid var(--elements-border-color);
  border-radius: 0;
}

/* mainly fixes dark theme */
.table-row {
  background-color: inherit;
}

/* Remove "ANDROIDJVM" button in header */
.filter-section {
  display: none;
}

li {
  margin-top: 8px;
}

.footer {
  border-top: 1px solid var(--elements-border-color);
}

td:first-child {
  width: 25%;
  padding-left: 0px;
}

.parameters {
    display: block;
}
